@model SIGPIP.Models.StudentModel


@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutPortfolio.cshtml";
}

<div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    

    <!-- Main content -->

    <section class="content">
        <!--
            <h1>Home</h1>

        <p>Welcome! @ViewBag.studentName</p>
        <p>Yout ID is: @ViewBag.studentIdLogged</p>

        -->

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Your Projects</h3>

                <ul class="box-controls pull-right">
                    <li><a class="box-btn-slide" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <div style="text-align: center;">
                    <h2><span style="color:dodgerblue">Coming Soon</span>, stay tuned @ViewBag.studentName !</h2>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>


