
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/styleTeam.css"/>

}

@section Nav{
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
          <a class="navbar-brand" href="#">SIGPIP</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" asp-controller="Team" asp-action="Members">Team</a>
                  <a href="https://github.com/SIGPIP/SIGPIP" target="_blank" class="dropdown-item">Github</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
              <a asp-controller="Student" asp-action="Login" class="btn btn-primary">Login</a>
            </form>
          </div>
        </nav>
}

<div class="row">
   <!-- 1 -->
  <div class="column">
    <div class="card teamMember">
      <div class="container">
        <h2>Tomas Parra</h2>
        <p class="title">ASP NET Backend</p>
        <img src="~/Assets/images/configuraciones.png" class="img-fluid mx-auto d-block" width="150" height="150" />
        <hr />
        <p>TomasSIGPIP@gmail.com</p>
      </div>
    </div>
  </div>

  <!-- 2 -->
  <div class="column">
    <div class="card teamMember">
      <div class="container">
        <h2>Juan Ramirez</h2>
        <p class="title">ASP NET Backend</p>
        <img src="~/Assets/images/configuraciones.png" class="img-fluid mx-auto d-block" width="150" height="150" />
        <hr />
        <p>JuanSIGPIP@gmail.com</p>
      </div>
    </div>
  </div>

  <!-- 3 -->
  <div class="column">
    <div class="card teamMember">
      <div class="container">
        <h2>Sebastian Medina</h2>
        <p class="title">MS Tester</p>
        <img src="~/Assets/images/search.png" class="img-fluid mx-auto d-block" width="150" height="150" />
        <hr />
        <p>SebastianSIGPIP@gmail.com</p>
      </div>
    </div>
  </div>

  <!-- 4 -->
  <div class="column">
    <div class="card teamMember">
      <div class="container">
        <h2>Johan Sebastian</h2>
        <p class="title">Bootstrap Frontend</p>
        <img src="~/Assets/images/graphic-design.png" class="img-fluid mx-auto d-block" width="150" height="150" />
        <hr />
        <p>JohanSIGPIP@gmail.com</p>
      </div>
    </div>
  </div>

  <!-- 5 -->
  <div class="column">
    <div class="card teamMember">
      <div class="container">
        <h2>Luis Mendez</h2>
        <p class="title">UX Frontend</p>
        <img src="~/Assets/images/user-experience.png" class="img-fluid mx-auto d-block" width="150" height="150" />
        <hr />
        <p>LuisSIGPIP@gmail.com</p>
      </div>
    </div>
  </div>

</div>


